@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{margin: 0;padding: 0;}
ul, li{
  list-style: none;
}
#wrap{
  margin: 0 auto;
  padding: 50px;
  font-family: 'Noto Sans KR', '맑은 고딕', arial, sans-serif;
  text-align: center;
}
h2{
  line-height: 50px;
  margin-bottom: 20px;
}
// 막대 애니메이션
@mixin box{
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background: #e9e9e9;
  margin-bottom: 10px;
}
li{
  @include box;
}

@mixin bar($bgcolor){
  background-color: $bgcolor;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  border-radius: 50px;
}

#bar1{
  @include bar(#ffdadf);
}
#bar2{
  @include bar(#fec9c3);
}
#bar3{
  @include bar(#dcc2e0);
}
#bar4{
  @include bar(#c4e9e6);
}
#bar5{
  @include bar(#f9f3aa);
}
#bar6{
  @include bar(#c5eabb);
}
#bar7{
  @include bar(#d3eeff);
}
#bar8{
  @include bar(#cdcff2);
}
#bar9{
  @include bar(#f7e8d4);
}
#bar10{
  @include bar(#febcc8);
}
#bar11{
  @include bar(#d1eaf7);
}
#bar12{
  @include bar(#c9ead8);
}
#bar13{
  @include bar(#fcf6ca);
}

@mixin txt_title{
  color: #333;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
  line-height: 40px;
}

li p{
  @include txt_title;
}

@mixin percent{
  position: absolute;
  width: 40px;
  height: 40px;
  color: #333;
  background-color: #fff;
  border:3px solid transparent;
  background-image:linear-gradient(#fff, #fff),linear-gradient(-45deg,  #e8bdd3 0%, #eebcb5 20%, #f0ebc9 40%, #cef2dc 60%, #c1eff3 80%, #cbdcf1 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  top: 0;
  right: -10px;
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 33px;
  border-radius: 50px;
  box-sizing: border-box;
}
li span{
  @include percent;
}
